
html {
    font-family: arial;
}
table { 
    border-collapse: collapse; 
}
tr {
    height: 30px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;

}

td {
    width:80px;
    vertical-align: middle;
    text-align: center;
}

.name_container{
    text-align: left;
}

.pin {
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid black;
    line-height: 150%;
    background: #666;
    text-align: center;
    color: white;
    font-weight: bold;
}

.pin_container{
    vertical-align: middle;
    text-align: center;
}
.name {
    font-weight: bold;
    color: #444;
    margin: 0;
}

.label {
    font-weight: bold;
    font-size: 10px;
    color: #666;
    margin: 0;
}

#pin-1 {
    border-radius: 0%;
    width: 24px;
    height: 24px;
}

.led {

    border-radius: 50%;
    display: inline-block;
    border: 2px solid black;
    background: #500;
    text-align: center;
    font-size: 8px;
    color: white;
    width:24px;
    height:24px;
}

.led:before{
    content: "LED";
    line-height: 310%;
}

.on{
    background: #f00;
    color: black;
}
.off{
    background: #500;
    color: white;
}

.push {
    border-radius: 26%;
    display: inline-block;
    border: 2px solid black;
    background: #DDD;
    text-align: center;
    font-size: 8px;
    width:24px;
    height:24px;
}
.push:before{
    content: "PUSH";
    line-height: 310%;
}

.plus:before{ content: "+V";}
.gnd:before{ content: "GND";}
.unk:before{ content: "Unk";}
.polarity{
    color: #444;
    font-style: italic;
    font-size: 70%;
}

.left { text-align: left; }
.right { text-align: right; }